{{#
    Footer Component
    Complete footer with CTA banner and navi <h3
        class="text-base sm:text-lg font-outfit font-bold leading-relaxed text-white">Support</h3>
    <nav class="space-y-1 sm:space-y-2">
        <a href="#"
            class="block text-sm sm:text-base lg:text-lg font-outfit font-light leading-relaxed hover:text-gray-300 transition-colors">Privacy
            Policy</a>
        <a href="#"
            class="block text-sm sm:text-base lg:text-lg font-outfit font-light leading-relaxed hover:text-gray-300 transition-colors">Terms
            & Conditions</a>
        <a href="#"
            class="block text-sm sm:text-base lg:text-lg font-outfit font-light leading-relaxed hover:text-gray-300 transition-colors">Sitemap</a>
    </nav> sections
#}}

<footer id="{{brand:breadcrumb_text | strip_tags | lower | replace:' ':'-'}}" class="bg-black pt-5  lg:pt-16 ">
    <div class=" ">
        <div class="justify-center flex text-[15vw] xl:text-[10w] font-normal text-[#1F1F1F]  leading-[130%] text-outline">Contact</div>

        <div class="w-full h-0 opacity-10 outline outline-1 outline-offset-[-0.50px] outline-white"></div>


        <div class="grid  xl:grid-cols-[40%_auto] lg:grid-cols-[45%_auto]  grid-cols-1 adnec-container gap-8 py-10">

            <div class=" flex flex-col justify-between">
                <div class="flex flex-col gap-10">
                {{ brand }}
                    {{ partial:sets/bread_crumbs }}
                {{ /brand }}
                <div class="text-zinc-500 text-lg"> {{ brand:footer_text }} </div>
                <div class="flex flex-col gap-8 ">
                    {{ brand:logos }}
                        <div class="text-red-600 text-base font-normal uppercase">{{ title }}</div>

                        <img src="{{ image }}" alt="Olympia Logo" class="w-[180px] h-full object-contain">
                    {{ /brand:logos }}
                </div>
                </div>
            <div class=" hidden lg:flex-col lg:flex">
                {{ partial:footer_social_media }}
                <p class="text-zinc-500 text-lg font-normal">© uaepavilion 2025-2026</p>
            </div>
            </div>




            <div class="form-conn">
                {{ brand }}
                    {{ if form }}
               {{ partial:shared.form.form_alpine }}
                    {{ /if }}
                {{ /brand }}
            </div>
            <div class=" lg:hidden flex-col flex">
                {{ partial:footer_social_media }}
                <p class="text-zinc-500 text-lg font-normal">© uaepavilion 2025-2026</p>
            </div>


        </div>

    </div>
</footer>
<style>
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255 255 255 / 51%);
  }
</style>



