@theme {
  --color-primary-50: #f5f5f1;
  --color-primary-100: #e7e7da;
  --color-primary-200: #d1d0b7;
  --color-primary-300: #b6b28e;
  --color-primary-400: #a19a6e;
  --color-primary-500: #928960;
  --color-primary-600: #827654;
  --color-primary-700: #655943;
  --color-primary-800: #574c3c;
  --color-primary-900: #4c4237;
  --color-primary-950: #2b241d;

    --color-secondary-50: #f5f1f1;
    --color-secondary-100: #e7dada;
    --color-secondary-200: #d1b7b7;
    --color-secondary-300: #b28e8e;
    --color-secondary-400: #a16e6e;
    --color-secondary-500: #928060;
    --color-secondary-600: #827554;
    --color-secondary-700: #655943;
    --color-secondary-800: #574c3c;
    --color-secondary-900: #4c4237;
    --color-secondary-950: #2b241d;
}

.bg-primary-600 {
  @apply bg-primary-600;
}
.bg-secondary-500 {
  @apply bg-secondary-500;
}
